* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 100%;
  font-family: Inter;
}

#top {
  width: 100%;
  height: 85%;
  background-color: #ffcd9e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left {
  text-align: left;
  margin-left: 0px;
  
}
.left h1 {
  color: #282828;
font-family: Inter;
font-size: 45px;
font-style: bold;
font-weight: 900;
line-height: 170%;
letter-spacing: -2px;
}
.left h2{
  
font-family: Inter ;
font-size: 41.51px;
font-style: normal;
font-weight: bold;
line-height: 150%;
}

.left p {
  font-size: 19px;
  font-weight: 100;
  line-height: 30px;
  margin-top: 35px ;
  
  color: #484848;
}

.left h4 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 90px;
  letter-spacing: -1px;
  color: #282828; /* even after using the right font and colour and weight it doesnt match to figma file  */
  margin: 0;
  
}

.left input {
  width: 350px;
  height: 60px;
  padding: 5px 20px;
  border-radius: 8px;
  border: 4.5px solid black;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.left button {
  width: 210px;
  height: 60px;
  border-radius: 8px;
  margin-left: 15px;
  color: #ffffff;
  background-color: #282828;

 
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}



.email {
  display: flex;
  align-items: center;
 

}
.motto p{
  color: #FFF;
  display: flex;
  width: 300px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
         
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-top: 30px;
  margin-left: 21px;


}



.right{
  width: 500.52px;
height: 550.45px;
max-width: 100%;
flex-shrink: 0;

fill: #100F0D;
}

#footer {
  width: 100%;
  height: 35%;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#links a {
 
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #ffffff;
  text-decoration: none;
  font-size: large;
  font-weight: 100;
  margin-right: 450px ;
  margin-top: 9px;
  margin-left: 50px;
  line-height: 160%;
  justify-content: flex-start;
 
  
 
}

#socialid {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  color: #ffffff;
  margin-right: 75px;
  font-size: 20px;
  line-height:160%;
  font-weight: 400;
  font-family: Inter;
  margin-top: 80px;
  margin-bottom: 80px;
}

#socialid a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
  margin: 10px 0;
  line-height: 20px;

  
}

#socialid img {
  margin: 10px 0;
}
